.nav {
    padding: 0.5em 1em 0em 1em;
}
.head {
    background-color: rgba(77, 72, 72, 0.199);
}
.nav-link {
    color: rgb(71, 71, 71);
}
.head-tx {
    padding: 0em 0em 0em 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.jumbotron{
    margin: 1em 0em 0em 1em;
    font-family: 'Roboto', sans-serif;
    background:url(../images/sample.jpg) center no-repeat;
    background-size: cover;
    color: rgb(187, 187, 187);
} 