.nav {
    padding: 0.5em 1em 0em 1em;
}
.head {
    background-color: rgba(77, 72, 72, 0.199);
}
.nav-link {
    color: rgb(71, 71, 71);
}
.head-tx {
    padding: 0em 0em 0em 1em;
    font-family: 'Noto Sans JP', sans-serif;
}
.jumbotron {
    margin: 1em 0em 1em 0em;
    font-family: 'Noto Sans JP', sans-serif;
    background:url(/assets/images/sample2.jpg) center no-repeat;
    background-size: cover;
    color: rgb(201, 201, 201);
} 
.card {
    margin: 1em 0em 1em 0em;
}
.honbun {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
}
.line {
    border-width: 0.1em;
    border-color: #2e99a9;
    margin: 30px o;
}
.card-img {
    width: 100%;
    height: 17em;
    object-fit: cover;
}
.honbun-top {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    margin: 1em 0em 0em 0em;
}
.contents {
    background-color: rgb(245, 245, 245);
}
.honbun-title {
    font-family: 'Noto Sans JP', sans-serif;
    border-width: 0.1em;
    border-style: solid;
    border-color: #2e99a9;
    border-radius: 10px 10px 10px 10px;
    margin: 0.8em 0em 0em 0em;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
}
.Line-toroku {
    margin: 0.5em 0em 0em 0em;
}
@media screen and (max-width: 640px) {
    .nav-tabs {
       display: none;
    }
    .head {
        padding: 1em;
    }
    .head-tx {
        display: none;
    }
    #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
     }
    #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(-50%);
    }
    #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #fff;
    }
    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        transition: all .2s ease-in-out;
    }
    .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
     .sp-nav li {
        margin: 0;
        padding: 0;
    }
     .sp-nav li span {
        font-size: 15px;
        color: #fff;
    }
     .sp-nav li a, .sp-nav li span {
        display: block;
        padding: 20px 0;
    }
    .sp-nav .close {
        position: relative;
        padding-left: 20px;
    }
    .sp-nav .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate( 45deg );
    }
    .sp-nav .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate( -45deg );
    }
    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }
    .toggle {
        transform: translateY( 0 );
        opacity: 1;
    }
    .main-visual {
        padding: 0 4%;
     }
     h2 {
        line-height: 1.6;
        text-align: center;
    }
    .smartphone-tx {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 1.5em;
    }
    .smartphone-head-tx {
        padding: 0em 0em 0em 0em;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .close {
        font-family: 'Noto Sans JP', sans-serif;
<<<<<<< HEAD
        font-weight: 10;
=======
>>>>>>> d7f458ae4eb837e25750f98ec36a3efd1d59fbe8
        font-size: 1em;
    }
 }

 @media screen and (min-width: 640px) {
    #hamburger {
        display: none;
    }
    .sp-nav {
        display: none;
    }
    .smartphone-head-tx{
        display: none;
    }
 }